/**
 * @name Hidden Channels
 * @author bellecadavre
 * @version 1
 * @description Collapses Channel sidebar by default and expands on hover
 * @source https://github.com/LavenderMilk/Themes/blob/main/Hidden%20Channels.css
*/

/* Collapsed overlay style defined */
.sidebar_ded4b5 {
    width: 48px;
    transition: width 0.3s ease-out;
    position: relative;
  }
  /* Collapsed overlay style */
  .sidebar_ded4b5::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: #1e2021;
    z-index: 5;
    transition: opacity 1s ease-out, 0.3s ease-in, pointer-events 0s 0.2s;
    opacity: 1;
    pointer-events: auto;
  }
 .sidebar_ded4b5:not(:hover) .container__590e2 { 
    opacity: 0 !important;
  }
  .sidebar_ded4b5:not(:hover) .container__590e2 { 
    transition: 0.3s ease-in;
  }
  /* Expanded state */
  .sidebar_ded4b5:hover {
    width: 250px;
    transition-delay: 0.2s;
  }
  .sidebar_ded4b5:hover::before {
    opacity: 0;
    pointer-events:none;
  }
